@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.nav__main {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 100;

  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 10px 15px rgba(92, 99, 105, 0.1);
  justify-content: center;
}

.container__nav {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 30%;
  margin-left: 5rem;
}

.nav__menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__content {
  padding: 1.5em;
}

.banner__img {
  width: 100%;
}
/*BANNER*/

.container__banner {
  padding: 4.5rem 0 0 0;
}

/**/

.img__logo {
  width: 40px;
  height: 40px;
}

/*CARD*/

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(122, 122, 122, 0.29);
  margin-bottom: 1.5rem;
}

.card__img {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.card__title {
  padding: 1rem;
  font-weight: 600;
}

.card__text {
  padding: 1rem;
  text-align: justify;
}

/*IMAGEN*/

/*FONTS*/
.h1__title {
  font-size: 2em;
  padding: 2rem 0;
  font-weight: 600;
}

/*dropdown*/

.dropdown {
  position: relative;
  cursor: pointer;
  padding: 1rem;
}

.dropdown__header {
  display: flex;
  align-items: center;
}

.dropdown__content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #fff;
  left: -10px;
  z-index: 200;
  min-width: 200px;
  height: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem 0;
}

.dropdown__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  opacity: 0.5;
}

.dropdown__item:hover {
  background-color: rgba(243, 244, 246, 1);
  opacity: 1;
}

.dropdown:hover .dropdown__content {
  display: block;
}

/*flex*/
.d__flex {
  display: flex;
}

.justify__content__space-around {
  justify-content: space-around;
}

/*MARGIN*/
.mr__1 {
  margin-right: 0.5rem;
}

/*WIDTH*/
.w__25 {
  width: 25%;
}

.w__75 {
  width: 75%;
}

@media (min-width: 768px) and (min-width: 992px) {
  .container__content {
    padding: 1rem 5rem;
    display: flex;
    justify-content: center;
    gap: 3%;
  }

  .h1__title {
    font-size: 3em;
  }
}
